* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div p, img {
    background-color: #eeb8c5; /* Couleur de fond générale */
}

div nav a {
    color: #2e529b; /* New color for the links */
    text-decoration: none; /* Remove underline from links */
    text-decoration: underline;
}

header{
    background-color: #d3574e; /* Couleur de fond générale */
    color: #030303; /* Couleur du texte */
}

footer{
    background-color: #ff685d; /* Couleur de fond générale */
    color: #030303; /* Couleur du texte */
}

div img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}


div p {
    color: black;
    text-align: center;
    max-width: 50%;
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
}

img :hover,a:hover {
    transform: scale(1.1); /*Effet d'agrandissement au survol */
}