* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeb8c5; /* Couleur de fond générale */
    color: #030303; /* Couleur du texte */
    font-family: 'Playfair Display', serif; /* Police par défaut */
}

header{
    background-color: #d3574e; /* Couleur de fond générale */
    color: #030303; /* Couleur du texte */
}

div img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}